:root{
    --blue: #00a8e8;
    --white: #ffffff;
    --Yellow: #fca311;
    --gray: rgb(226, 226, 226);
}


*{
    margin:0;
    padding:0;
    font-family: 'Khand', sans-serif;
}

.layer{
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content"

}

img{
    width:50px;
    border-radius: 50%;
}

.sidebar{
    grid-area: sidebar;
    height:100%;
    background-color:var(--blue);
    display:flex;
    flex-direction:column;
    justify-content:start;
    color:var(--white);
    padding:40px;
}

ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
  }

li{
    font-size: 24px;
    display:flex;
    gap:10px;
    margin-top:10px;
}

li:hover{
    color:rgb(226, 226, 226);
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.dashboard{
    display: flex;
    gap:10px;
}

.header{
    grid-area: header;
    padding:30px;
    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.75);
}

.search, 
.search-header,
.search-right,
.profile,
.profile-greet,
.trending{
    display:flex;
}

.search input{
    width: 45vw;
    border-radius: 10px;
    margin-left:15px;
    border:none;
    background-color: rgb(226, 226, 226);
}

.search-header{
    align-items: center;
}

.search-right{
    align-items: center;
    margin: 0 auto 0 auto;
    gap:20px;
}

.profile{
    gap:15px;
    margin-top:15px;
    align-items:center;
}

.profile-greet{
    gap:15px;
    margin-right:auto;
}

button{
    
	background-color:#2dabf9;
	border-radius:9px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
    margin-right:15px;
}

button:hover{
    background-color:#0688fa;
}

button:active{
    position:relative;
	top:1px;
}

.buttons{
margin-right:15px;
}

.main-content{
    padding:30px;
    grid-area: main-content;
    display:grid;
    grid-template-columns: 1fr 1fr .50fr;
    grid-template-areas: "first first second";
    height:102%;
    gap:30px;
    background-color:var(--gray);
}

.projects{
    grid-area: first;
}

.projects-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
}

.project{
    background-color:var(--white);
    padding:15px;
    border-radius:8px;
    box-shadow: 22px 0px 0px -15px var(--Yellow) inset;
}

.icons{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    margin-top:20px;
    gap:15px;
}

.announcements-top{
    background-color:var(--white);
    padding:10px;
    border-radius: 8px;
    margin-bottom:20px;
}

.announcement p{
    font-size:12px;
    margin: 10px 0 10px 0;
}

.trendings{
    background-color:var(--white);
    padding:10px;
    border-radius: 8px;
    
}

.trending{
    margin-top:6px;
    gap:10px;
    font-size:14px;
}
