:root{
    --blue: #00a8e8;
    --white: #ffffff;
    --Yellow: #fca311;
}

*{
    margin:0;
    padding:0;
    font-family: 'Khand', sans-serif;
}

.layer{
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content"
    "sidebar main-content"

}

img{
    width:50px;
    border-radius: 50%;
}

.sidebar{
    grid-area: sidebar;
    height:100%;
    background-color:var(--blue);
    display:flex;
    flex-direction:column;
    justify-content:start;
    color:var(--white);
    padding:40px;
}

ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
  }

li{
    font-size: 24px;
    display:flex;
    gap:10px;
    margin-top:10px;
}

li:hover{
    color:rgb(226, 226, 226);
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.dashboard{
    display: flex;
    gap:10px;
}

.header{
    grid-area: header;
    padding:30px;
    box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
}

.search, 
.search-header,
.search-right,
.profile{
    display:flex;
}

.search input{
    width: 45vw;
    border-radius: 10px;
    margin-left:15px;
    border:none;
    background-color: rgb(226, 226, 226);
}

.search-header{
    align-items: center;
}

.search-right{
    align-items: center;
    margin: 0 auto 0 auto;
    gap:20px;
}

.profile{
    gap:15px;
    margin-top:15px;
}

.main-content{
    grid-area: main-content;
    height:100%;
    
}